<mat-card 
    class="p-2 h-[{{rowHeight}}px]" 
    [ngClass]="{'text-center': !fullWidthMode}"
>
    <div 
        class="h-full"
        [ngClass]="{'flex flex-row items-center': fullWidthMode, 'flex flex-col items-stretch': !fullWidthMode}"
    >
        <div 
            class="imgContainer flex items-center"
            [ngClass]="{'h-[200px]': !fullWidthMode, 'h-full float-left w-2/5': fullWidthMode}"
        >
            <img 
                class="mb-1 mx-auto h-auto max-w-full"
                [ngClass]="{'max-h-[200px]': !fullWidthMode, 'max-h-[360px]': fullWidthMode}"
                [src]="product?.image" 
                alt="Product image"
            />
        </div>
        <div class="" [ngClass]="{'px-8 h-full flex flex-col justify-between': fullWidthMode}">
            <div>
                <h5>{{ product ? product.category[0].toUpperCase() + product.category.slice(1) : ''}}</h5>
                <p class="h-10 truncate hover:whitespace-normal">{{product?.title}}</p>
                <p *ngIf="fullWidthMode" class="h-10">{{ product?.description }}</p>
            </div>
            <div class="flex justify-between m-1">
                <span class="text-red-400">{{ product?.price | currency }}</span>
                <button (click)="onAddToCart()">
                    <mat-icon class="text-gray-500">shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-card>