<mat-card 
    class="p-2 m-0 h-[{{rowHeight}}px]" 
    [ngClass]="{'text-center': !fullWidthMode}"
>
    <div 
        class="h-full"
        [ngClass]="{'flex flex-row items-center': fullWidthMode, 'flex flex-col items-stretch': !fullWidthMode}"
    >
        <div 
            class="imgContainer flex items-center"
            [ngClass]="{'h-[200px]': !fullWidthMode, 'h-full float-left w-2/5': fullWidthMode}"
        >
            <img 
                class="mb-1 mx-auto h-auto max-w-full"
                [ngClass]="{'max-h-[200px]': !fullWidthMode, 'max-h-[360px]': fullWidthMode}"
                [src]="product?.image" 
                alt="Product image"
            />
        </div>
        <div class="" [ngClass]="{'px-3 h-full flex flex-col justify-between items-stretch': fullWidthMode}">
            <div class="h-[85%]">
                <h5>{{ product ? product.category[0].toUpperCase() + product.category.slice(1) : ''}}</h5>
                <p class="truncate hover:whitespace-normal">{{product?.title}}</p>
                <p *ngIf="fullWidthMode" class="">{{ product?.description }}</p>
            </div>
            <div class="flex justify-between items-center m-1 h-[15%]">
                <span class="font-bold">{{ product?.price | currency }}</span>
                <button tooltip="Add to cart" (click)="onAddToCart()">
                    <mat-icon class="">add</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-card>